<!-- temperature_view.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Temperature View</title>
</head>
<body>
    <h1>Current Temperature:</h1>
    <p id="temperature"></p>

    <script>
        // WebSocket connection to your Django server
        //const socket = new WebSocket('ws://tps/ws/temperature/');

        //socket.onmessage = function (event) {
        //    const temperature = JSON.parse(event.data).temperature;
        //    document.getElementById("temperature").innerText = `${temperature} °C`;
        //};
    </script>
</body>
</html>
