*.pyc
__pycache__/
venv/
env/
*.pyd
*.pyo
*.egg-info/
dist/
build/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.pydevproject
.settings/
.env
.env.*
*.log
*.tmp
*.bak
*~
.DS_Store
*.dvi
/Pipfile.lock
/poetry.lock
/media/
/static/
*.db
*.sqlite3